$variables: (
  font-family: (
    "Merriweather",
    -apple-system,
    BlinkMacSystemFont,
    serif
  ),
  box-shadow: (
    10px 50px 100px rgba(146, 146, 146, 0.368),
    0px 0px 2px rgba(194, 194, 194, 0.801)
  ),
  box-radius: 6px,
  pd-1: 0.33rem,
  pd-2: 0.66rem,
  pd-3: 0.99rem,
  pd-4: 1.98rem
);
